//#chess_board { border:1px solid #333; }

.contentPane {
  display: flex;
  justify-content: center;
  align-items: center;
    margin-bottom: 5px;
  //width: 100%;

}

td {
  transition: 0.2s ease;
  border:1px solid #333;
  height:22px;
  font-size: 16.5px;
  font-weight: bold;
  text-align:center;
  vertical-align:middle;
  width:22px;
  user-select: none;
  font-family: sans-serif;

  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.contentPane:hover{
  td {
    border: 1.5px solid #333;

    height: 33px;
    font-size: 27.5px;
    width: 33px;
  }
}

/*#chess_board tr:nth-child(odd) td:nth-child(even),
#chess_board tr:nth-child(even) td:nth-child(odd) {
  background:#009d00;
}*/
.higherContentPane {
  margin: auto;
  width: 500px;
  position: relative;
}

.higherContentPane > * {
  justify-content: center;
  align-items: center;
  display: flex;
}
.gold {
  color: gold;
}

.scarlet {
  color: darkred;
}

.clickable {
  cursor: pointer;
}

.unclickable {
  cursor: default;
}
